<%- model_class = Post -%>
<% content_for :html_title do -%><%= @post.html_title.blank? ? @post.title : @post.html_title %><% end -%>
<div class="row">  
  <article>
    <h4><%= t('admin.titles.preview')%> <%= @post.title %></h4>
    <section>
      <%= render partial: "full_post", locals: {post: @post} %>    
    </section>
    <hr>
    <footer>
      <p class="muted">
        <%= t('post.date_time', time: @post.published_at.strftime("%I:%M%P"), date:@post.published_at.strftime('%A, %d %B %Y'))%>
      </p>
      <p>
        <%= link_to "Back to edit form", edit_admin_post_path(@post) %>
      </p>
    </footer>
  </article>        
</div>