<% content_for :html_title do -%><%= t('archive.html_title')%><% end -%>

<div class="row">
  <div class="span7">  
    <article>
      <h1><%= t('archive.title')%></h1>
      <section>
        <%= @markdown.render(t('archive.intro')).html_safe %>
      </section>
      <section>
        <% @archive.each do |post| -%>
          <ul class="unstyled">
            <li><%= link_to post.title, post_path(post) %> <span class="dt"><%= post.published_at.strftime("%d %b, %Y")%></span></li>
          </ul>
        <% end -%>
      </section>
    </article>        
  </div>

</div>
