<% content_for :html_title do -%><%= t('archive.html_title')%><% end -%>
<div class="row">
  <article class="span9 offset1">
    <h1><%= t('archive.title')%></h1>
    <section>
      <p><%= @markdown.render(t('archive.intro')).html_safe %></p>
    </section>
    <section>
      <p><%= @markdown.render(t('archive.monthly')).html_safe %></p>
      <ul class="post-archive-list">
        <% @archive.each_with_index do |month, i| -%>
          <li><%= month_archive_link(month) %></li>
          <%= list_separator(@archive.length, i+1) %>
        <% end -%>
      </ul>
    </section>
    <section>
      <p><%= @markdown.render(t('archive.tags')).html_safe %></p>
      <ul class="post-archive-list">
        <% @tag_archive.each_with_index do |tag, i| -%>
          <li><%= tag_archive_link(tag) %></li>
          <%= list_separator(@tag_archive.length, i+1) %>
        <% end -%>
      </ul>
    </section>
  </article>
</div>