<% content_for :html_title do -%><%= t('archive.html_title')%><% end -%>
<article class="span10 offset2">
  <h1><%= t('archive.title')%></h1>
  <section>
    <p><%= @markdown.render(t('archive.intro')).html_safe %></p>
  </section>
  <section>
    <p><%= @markdown.render(t('archive.monthly')).html_safe %></p>
  </section>
  <section>
    <p><%= @markdown.render(t('archive.tags')).html_safe %></p>
  </section>
</article>