<% content_for :html_title do -%><%= t('archive.html_title')%><% end -%>
<article class="span9 offset2">
  <h1><%= t('archive.title')%></h1>
  <section>
    <p><%= @markdown.render(t('archive.intro')).html_safe %></p>
  </section>
  <section>
    <p><%= @markdown.render(t('archive.monthly')).html_safe %></p>
    <ul class="post-archive-list">
      <% @archive.each_with_index do |month, i| -%>
        <li><%= month_archive_link(month) %></li>
        <% unless @archive.length == (i+1) -%>
        &middot;
        <% end -%>
      <% end -%>
    </ul>
  </section>
  <section>
    <p><%= @markdown.render(t('archive.tags')).html_safe %></p>
  </section>
</article>